.footer p {
    background-color: var(--footer-bg);
    margin-top: 2.5rem;
    color: var(--bodyBG);
    padding: 1.3rem 10%;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    justify-content: center;
    border-radius: 10px 10px 0 0;

    & span {
        display: inline-block;
        color: #f68282;
        text-transform: capitalize;
        margin-inline: 0.3rem;
    }
}