/*==================
rhight section 
===================*/

header.flex {
    /* position: fixed;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0; */
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 1.2rem;

    & .sign-in {
        margin-inline: 1rem;
    }

    & .links .fa-solid {
        margin-right: 0.3rem;
    }

    & .sign-in,
    & .register,
    & .cart {
        border: solid 3px var(--bodyFont);
        padding: 0.44rem 1rem;
        border-radius: 55px;
        font-size: 0.8rem;
        font-weight: 500;
    }

    & .register:hover,
    & .sign-in:hover,
    & .cart:hover,
    & .cart:hover .fa-solid,
    & .register:hover .fa-solid,
    & .sign-in:hover .fa-solid {
        background-color: var(--bodyFont);
        color: var(--blue);
    }

    & .active {
        background-color: var(--bodyFont);
        padding: 0.44rem 1.1rem 0.44rem 0.6rem;
        border-radius: 55px;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--bodyBG);

        & .fa-solid {
            color: var(--bodyBG);
        }
    }

    & .cart .product-number {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fe3737;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        font-size: 0.8rem;
        font-weight: bold;
        top: -5px;
        right: 0;
        color: #fff;
    }

    /*==========================
    left section (LOGO) 
===========================*/

    & .fa-bag-shopping {
        font-size: 2rem;
    }

    & .logo span {
        font-weight: 600;
    }

    & .logo p {
        letter-spacing: 1px;
    }
}


@media (width < 600px) {

    header.flex {
        justify-content: center;
        padding-inline: 0;


        & .logo {
            display: none;
        }

        & .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.8rem;
        }

    }
}

.scroll-down {
    position: fixed;
    right: 0;
    left: 0;

    background-color: var(--footer-bg);
    z-index: 11;

    color: var(--white);

    padding-bottom: 0.5rem;

    & .fa-solid {
        color: #fff;

    }
    & .fa-bag-shopping{
        font-size: 1.5rem !important;
    }
}